/* =========== CSS Reset =========== */
/* ================================= */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ===================================== */
/* ===================================== */
/* =========== Global Styles =========== */
/* ===================================== */
/* ===================================== */
:root {
    --Blue-1: #e6f0ff;
    --Blue-2: #cce0ff;
    --Blue-3: #b3d1ff;
    --Blue-4: #99c2ff;
    --Blue-5: #80b3ff;
    --Blue-6: #66a3ff;
    --Blue-7: #4d94ff;
    --Blue-8: #337fff;
    --Blue-9: #1a66ff;
    --Blue-10: #004dcc;
    --Blue-11: #003399;
    --Blue-12: #001a4d;

    --Green-1: #e6fff0;
    --Green-2: #ccffe0;
    --Green-3: #b3ffd1;
    --Green-4: #99ffc2;
    --Green-5: #80ffb3;
    --Green-6: #66e699;
    --Green-7: #4dcc80;
    --Green-8: #33b266;
    --Green-9: #1a994d;
    --Green-10: #007f33;
    --Green-11: #00661a;
    --Green-12: #00330d;

    --Red-1: #ffe6e6;
    --Red-2: #ffcccc;
    --Red-3: #ffb3b3;
    --Red-4: #ff9999;
    --Red-5: #ff8080;
    --Red-6: #ff6666;
    --Red-7: #ff4d4d;
    --Red-8: #ff3333;
    --Red-9: #cc0000;
    --Red-10: #990000;
    --Red-11: #660000;
    --Red-12: #330000;

    --Orange-1: #fff2e6;
    --Orange-2: #ffe5cc;
    --Orange-3: #ffd9b3;
    --Orange-4: #ffcc99;
    --Orange-5: #ffbf80;
    --Orange-6: #ffb266;
    --Orange-7: #ffa64d;
    --Orange-8: #ff9933;
    --Orange-9: #cc7a00;
    --Orange-10: #995c00;
    --Orange-11: #663d00;
    --Orange-12: #331f00;

    --Purple-1: #f5e6ff;
    --Purple-2: #e6ccff;
    --Purple-3: #d9b3ff;
    --Purple-4: #cc99ff;
    --Purple-5: #bf80ff;
    --Purple-6: #b266ff;
    --Purple-7: #9933ff;
    --Purple-8: #8000ff;
    --Purple-9: #6600cc;
    --Purple-10: #4d0099;
    --Purple-11: #330066;
    --Purple-12: #1a0033;

    --Yellow-1: #ffffe6;
    --Yellow-2: #ffffcc;
    --Yellow-3: #ffffb3;
    --Yellow-4: #ffff99;
    --Yellow-5: #ffff80;
    --Yellow-6: #ffff66;
    --Yellow-7: #ffeb3b;
    --Yellow-8: #e6cc00;
    --Yellow-9: #cccc00;
    --Yellow-10: #999900;
    --Yellow-11: #666600;
    --Yellow-12: #333300;

    --White-To-Black-1: #ffffff;
    --White-To-Black-2: #f5f5f5;
    --White-To-Black-3: #e0e0e0;
    --White-To-Black-4: #cccccc;
    --White-To-Black-5: #b3b3b3;
    --White-To-Black-6: #999999;
    --White-To-Black-7: #808080;
    --White-To-Black-8: #666666;
    --White-To-Black-9: #4d4d4d;
    --White-To-Black-10: #333333;
    --White-To-Black-11: #1a1a1a;
    --White-To-Black-12: #000000;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.83rem;
}
h6 {
    font-size: 0.67rem;
}

a {
    text-decoration: none;
}

/* =============== */
/* ===== btn ===== */
/* =============== */

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.btn:has(.btn-block) {
    width: 100%;
}
/* === primary btn === */
/* =================== */
.btn.btn-primary {
    background-color: #007bff;
    color: white;
}
.btn.btn-primary:hover {
    background-color: #0069d9;
}
.btn.btn-outline-primary {
    background-color: white;
    border: 1px solid #007bff;
    color: #007bff;
}
.btn.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}
.btn.btn-inline-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}
.btn.btn-inline-primary:hover {
    background-color: white;
    color: #007bff;
}
/* === primary secondary === */
/* ========================= */
.btn.btn-secondary {
    background-color: #6c757d;
    color: white;
}
.btn.btn-secondary:hover {
    background-color: #5a6268;
}
.btn.btn-outline-secondary {
    background-color: white;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.btn.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}
.btn.btn-inline-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
}
.btn.btn-inline-secondary:hover {
    background-color: white;
    color: #6c757d;
}
/* === primary success === */
/* ======================= */
.btn.btn-success {
    background-color: #28a745;
    color: white;
}
.btn.btn-success:hover {
    background-color: #218838;
}
.btn.btn-outline-success {
    background-color: white;
    border: 1px solid #28a745;
    color: #28a745;
}
.btn.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}
.btn.btn-inline-success {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: white;
}
.btn.btn-inline-success:hover {
    background-color: white;
    color: #28a745;
}
/* === primary danger === */
/* ====================== */
.btn.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn.btn-danger:hover {
    background-color: #c82333;
}
.btn.btn-outline-danger {
    background-color: white;
    border: 1px solid #dc3545;
    color: #dc3545;
}
.btn.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}
.btn.btn-inline-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
}
.btn.btn-inline-danger:hover {
    background-color: white;
    color: #dc3545;
}
/* === primary warning === */
/* ======================= */
.btn.btn-warning {
    background-color: #ffc107;
    color: black;
}
.btn.btn-warning:hover {
    background-color: #e0a800;
}
.btn.btn-outline-warning {
    background-color: white;
    border: 1px solid #ffc107;
    color: #ffc107;
}
.btn.btn-outline-warning:hover {
    background-color: #ffc107;
    color: black;
}
.btn.btn-inline-warning {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: white;
}
.btn.btn-inline-warning:hover {
    background-color: white;
    color: #ffc107;
}
/* === primary info === */
/* ==================== */
.btn.btn-info {
    background-color: #17a2b8;
    color: white;
}
.btn.btn-info:hover {
    background-color: #138496;
}
.btn.btn-outline-info {
    background-color: white;
    border: 1px solid #17a2b8;
    color: #17a2b8;
}
.btn.btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
}
.btn.btn-inline-info {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    color: white;
}
.btn.btn-inline-info:hover {
    background-color: white;
    color: #17a2b8;
}
/* === primary light === */
/* ===================== */
.btn.btn-light {
    background-color: #f8f9fa;
    color: black;
}
.btn.btn-light:hover {
    background-color: #e2e6ea;
}
.btn.btn-outline-light {
    background-color: white;
    border: 1px solid #e2e6ea;
    color: #e2e6ea;
}
.btn.btn-outline-light:hover {
    background-color: #f8f9fa;
    color: black;
}
.btn.btn-inline-light {
    background-color: #f8f9fa;
    border: 1px solid #e2e6ea;
    color: black;
}
.btn.btn-inline-light:hover {
    background-color: white;
    color: #e2e6ea;
}
/* === primary dark === */
/* ==================== */
.btn.btn-dark {
    background-color: #343a40;
    color: white;
}
.btn.btn-dark:hover {
    background-color: #23272b;
}
.btn.btn-outline-dark {
    background-color: white;
    border: 1px solid #343a40;
    color: #343a40;
}
.btn.btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
}
.btn.btn-inline-dark {
    background-color: #343a40;
    border: 1px solid #343a40;
    color: white;
}
.btn.btn-inline-dark:hover {
    background-color: white;
    color: #343a40;
}

/* ============== */
/* ==== Link ==== */
/* ============== */

.link {
    background-color: transparent;
    padding: 0;
    border: none;
    text-transform: capitalize;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
.link.link-primary {
    color: #007bff;
}
.link.link-secondary {
    color: #6c757d;
}
.link.link-success {
    color: #28a745;
}
.link.link-danger {
    color: #dc3545;
}
.link.link-warning {
    color: #ffc107;
}
.link.link-info {
    color: #17a2b8;
}
.link.link-light {
    color: #e2e6ea;
}
.link.link-dark {
    color: #343a40;
}

/* ================= */
/* ===== Alert ===== */
/* ================= */

.alert {
    text-transform: capitalize;
    padding: 0.75rem;
    border-radius: 0.5rem;
}
.alert.alert-primary {
    background-color: #cce5ff;
    border: 1px solid #b7d8fd;
}
.alert.alert-secondary {
    background-color: #e2e3e5;
    border: 1px solid #d6d8db;
}
.alert.alert-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.alert.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
.alert.alert-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}
.alert.alert-info {
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
}
.alert.alert-light {
    background-color: #fefefe;
    border: 1px solid #fdfdfe;
}
.alert.alert-dark {
    background-color: #d6d8d9;
    border: 1xp solid #c6c8ca;
}

/* ================== */
/* ===== Inputs ===== */
/* ================== */

input.input-control {
    box-shadow: 0 0 1px 1px #23272b;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    letter-spacing: 2xp;
}
input.input-control:focus {
    box-shadow: 0 0 5px 1px #0069d9;
}
input.input-control::placeholder {
    text-transform: capitalize;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    letter-spacing: 2xp;
}

/* ========================== */
/* ====== Error Message ===== */
/* ========================== */

.error-message {
    text-align: center;
    color: red;
}

/* ============================ */
/* ====== Loading Message ===== */
/* ============================ */

/* parent element */
.circle-loading {
    text-align: center;
}
/* child element */
.circle-loading-icon {
    margin: 0 auto;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border: 24px dotted #595959;
    border-left-color: #414141;
    border-bottom-color: #414141;

    text-align: center;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(72deg);
    }
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(216deg);
    }
    80% {
        transform: rotate(288deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ========================= */
/* ====== Spin Loading ===== */
/* ========================= */

/* ======================== */
/* ====== Grid System ===== */
/* ======================== */

.section-center {
    width: 90%;
    margin: 0 auto;
}
/* === column-3 === */
.column-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 992px) {
    .column-3 {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .column-3 {
        grid-template-columns: 1fr;
    }
}
/* === column-2 === */
.column-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
    .column-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}
/* === column-1 === */
.column-1 {
    display: grid;
    grid-template-columns: 1fr;
}
