/* =========== CSS Reset =========== */
/* ================================= */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ===================================== */
/* ===================================== */
/* =========== Global Styles =========== */
/* ===================================== */
/* ===================================== */
:root {
    --primary-100: #e0f0ff;
    --primary-200: #b3d8ff;
    --primary-300: #80bfff;
    --primary-400: #4da6ff;
    --primary-500: #007bff; /* base color */
    --primary-600: #006fe6;
    --primary-700: #0063cc;
    --primary-800: #0057b3;
    --primary-900: #004b99;

    --secondary-100: #f0f1f2;
    --secondary-200: #d9dbdd;
    --secondary-300: #c2c5c8;
    --secondary-400: #abaeb3;
    --secondary-500: #6c757d; /* base color */
    --secondary-600: #60666e;
    --secondary-700: #54595f;
    --secondary-800: #484d50;
    --secondary-900: #3c4042;

    --success-100: #e6f4ea;
    --success-200: #bfe0c8;
    --success-300: #99cc9f;
    --success-400: #73b87d;
    --success-500: #28a745; /* base color */
    --success-600: #23913d;
    --success-700: #1e7c36;
    --success-800: #18672e;
    --success-900: #135327;

    --danger-100: #ffe6ea;
    --danger-200: #ffbfc5;
    --danger-300: #ff99a0;
    --danger-400: #ff737c;
    --danger-500: #dc3545; /* base color */
    --danger-600: #b82e38;
    --danger-700: #941b2a;
    --danger-800: #7a1421;
    --danger-900: #5f0d17;

    --warning-100: #fff9e6;
    --warning-200: #fff2cc;
    --warning-300: #ffebb3;
    --warning-400: #ffe699;
    --warning-500: #ffc107; /* base color */
    --warning-600: #e6ad06;
    --warning-700: #cc9905;
    --warning-800: #b38604;
    --warning-900: #997203;

    --info-100: #e1f1f5;
    --info-200: #b3d9e1;
    --info-300: #80bfd0;
    --info-400: #4da5bf;
    --info-500: #17a2b8; /* base color */
    --info-600: #148ea0;
    --info-700: #117a88;
    --info-800: #0e6570;
    --info-900: #0a5149;

    --light-100: #ffffff;
    --light-200: #fcfcfc;
    --light-300: #f9f9fa;
    --light-400: #f5f6f7;
    --light-500: #f8f9fa; /* base color */
    --light-600: #e9ecef;
    --light-700: #dee2e6;
    --light-800: #ced4da;
    --light-900: #adb5bd;

    --dark-100: #c1c3c6;
    --dark-200: #a2a5a9;
    --dark-300: #83878c;
    --dark-400: #646970;
    --dark-500: #343a40; /* base color */
    --dark-600: #2e3237;
    --dark-700: #282c31;
    --dark-800: #222528;
    --dark-900: #1c1f22;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.83rem;
}
h6 {
    font-size: 0.67rem;
}
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.4;
}

@media screen and (max-width: 640px) {
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.083rem;
    }
    h4 {
        font-size: 0.87rem;
    }
    h5 {
        font-size: 0.75rem;
    }
    h6 {
        font-size: 0.59rem;
    }
    p {
        font-size: 0.87rem;
    }
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

/* =================== */
/* ======= btn ======= */
/* =================== */

.btn {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

/* === primary-btn === */
/* =================== */
.btn.btn-primary {
    background-color: #007bff;
    color: white;
}
.btn.btn-primary:hover {
    background-color: #0069d9;
}
.btn.btn-outline-primary {
    background-color: white;
    border: 1px solid #007bff;
    color: #007bff;
}
.btn.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}
.btn.btn-inline-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}
.btn.btn-inline-primary:hover {
    background-color: white;
    color: #007bff;
}
/* ===== secondary-btn ===== */
/* ========================= */
.btn.btn-secondary {
    background-color: #6c757d;
    color: white;
}
.btn.btn-secondary:hover {
    background-color: #5a6268;
}
.btn.btn-outline-secondary {
    background-color: white;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.btn.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}
.btn.btn-inline-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
}
.btn.btn-inline-secondary:hover {
    background-color: white;
    color: #6c757d;
}
/* ===== success-btn ===== */
/* ======================= */
.btn.btn-success {
    background-color: #28a745;
    color: white;
}
.btn.btn-success:hover {
    background-color: #218838;
}
.btn.btn-outline-success {
    background-color: white;
    border: 1px solid #28a745;
    color: #28a745;
}
.btn.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}
.btn.btn-inline-success {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: white;
}
.btn.btn-inline-success:hover {
    background-color: white;
    color: #28a745;
}
/* ===== danger-btn ===== */
/* ====================== */
.btn.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn.btn-danger:hover {
    background-color: #c82333;
}
.btn.btn-outline-danger {
    background-color: white;
    border: 1px solid #dc3545;
    color: #dc3545;
}
.btn.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}
.btn.btn-inline-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
}
.btn.btn-inline-danger:hover {
    background-color: white;
    color: #dc3545;
}
/* ===== warning-btn ===== */
/* ======================= */
.btn.btn-warning {
    background-color: #ffc107;
    color: black;
}
.btn.btn-warning:hover {
    background-color: #e0a800;
}
.btn.btn-outline-warning {
    background-color: white;
    border: 1px solid #ffc107;
    color: #ffc107;
}
.btn.btn-outline-warning:hover {
    background-color: #ffc107;
    color: black;
}
.btn.btn-inline-warning {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: white;
}
.btn.btn-inline-warning:hover {
    background-color: white;
    color: #ffc107;
}
/* ===== info-btn ===== */
/* ==================== */
.btn.btn-info {
    background-color: #17a2b8;
    color: white;
}
.btn.btn-info:hover {
    background-color: #138496;
}
.btn.btn-outline-info {
    background-color: white;
    border: 1px solid #17a2b8;
    color: #17a2b8;
}
.btn.btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
}
.btn.btn-inline-info {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    color: white;
}
.btn.btn-inline-info:hover {
    background-color: white;
    color: #17a2b8;
}
/* ===== light-btn ===== */
/* ===================== */
.btn.btn-light {
    background-color: #f8f9fa;
    color: black;
}
.btn.btn-light:hover {
    background-color: #e2e6ea;
}
.btn.btn-outline-light {
    background-color: white;
    border: 1px solid #e2e6ea;
    color: #e2e6ea;
}
.btn.btn-outline-light:hover {
    background-color: #f8f9fa;
    color: black;
}
.btn.btn-inline-light {
    background-color: #f8f9fa;
    border: 1px solid #e2e6ea;
    color: black;
}
.btn.btn-inline-light:hover {
    background-color: white;
    color: #e2e6ea;
}
/* ===== dark-btn ===== */
/* ==================== */
.btn.btn-dark {
    background-color: #343a40;
    color: white;
}
.btn.btn-dark:hover {
    background-color: #23272b;
}
.btn.btn-outline-dark {
    background-color: white;
    border: 1px solid #343a40;
    color: #343a40;
}
.btn.btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
}
.btn.btn-inline-dark {
    background-color: #343a40;
    border: 1px solid #343a40;
    color: white;
}
.btn.btn-inline-dark:hover {
    background-color: white;
    color: #343a40;
}

/* ==================== */
/* ======= Link ======= */
/* ==================== */

.link {
    background-color: transparent;
    padding: 0;
    border: none;
    text-transform: capitalize;
    /* font-family: ; */
    letter-spacing: 1px;
    cursor: pointer;
}
.link.link-primary {
    color: #007bff;
}
.link.link-secondary {
    color: #6c757d;
}
.link.link-success {
    color: #28a745;
}
.link.link-danger {
    color: #dc3545;
}
.link.link-warning {
    color: #ffc107;
}
.link.link-info {
    color: #17a2b8;
}
.link.link-light {
    color: #e2e6ea;
}
.link.link-dark {
    color: #343a40;
}

/* ================= */
/* ===== Alert ===== */
/* ================= */

.alert {
    margin: 2.5rem 0;
    text-transform: capitalize;
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
}
.alert div.alert-icon {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    display: grid;
    text-align: center;
    line-height: 1.15;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px var(--secondary-200);
    color: white;
    text-shadow: 0px 0px 1px var(--secondary-400);
}

/* === alert-primary === */
.alert.alert-primary {
    color: var(--primary-700);
    background-color: #cce5ff;
    border: 1px solid #b7d8fd;
    /* HTML icon : */
    /*
    &#5029;
    */
}
.alert.alert-primary div.alert-icon {
    background-color: var(--primary-500);
}

/* === alert-success === */
.alert.alert-success {
    color: var(--success-700);
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    /* HTML icon : */
    /*
    &#10003;
    */
}
.alert.alert-success div.alert-icon {
    background-color: var(--success-500);
}

/* === alert-warning === */
.alert.alert-warning {
    color: var(--warning-700);
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    /* HTML icon : */
    /*
    &#33;
    */
}
.alert.alert-warning div.alert-icon {
    background-color: var(--warning-500);
}

/* === alert-danger === */
.alert.alert-danger {
    color: var(--danger-700);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    /* HTML icon : */
    /*
    &#10799;
    */
}
.alert.alert-danger div.alert-icon {
    background-color: var(--danger-500);
}

/* HTML elements : */
/*
<div className="alert alert-danger">
    <div className='alert-icon'>&#10799;</div>
    <p>There was an error</p>
</div>
*/

/* ========================== */
/* ====== section-title ===== */
/* ========================== */

h2.section-title.left {
    text-align: left;
}
h2.section-title.right {
    text-align: right;
}
h2.section-title.center {
    text-align: center;
}
h2.section-title {
    line-height: 1.4;
    color: var(--info-900);
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
}
@media screen and (max-width: 640px) {
    h2.section-title {
        font-size: 1.75rem;
    }
}
h2.section-title span.first-value {
    color: var(--info-900);
    padding-right: 0.5rem;
}
h2.section-title span.second-value {
    color: var(--info-300);
    padding-left: 0.5rem;
}
/* HTML elements : */
/*
<h2 className='section-title center'>
    <span className='first-value'></span>
    <span className='second-value'></span>
</h2>
*/

/* ============================ */
/* ====== underline-title ===== */
/* ============================ */

div.underline-title {
    text-align: center;
}
div.underline-title h2 {
    text-transform: capitalize;
    color: var(--info-900);
    margin-bottom: 0.5rem;
}
div.underline-title div.underline {
    margin: 0 auto;
    width: 4rem;
    height: 0.25rem;
}
div.underline-title div.underline.underline-primary {
    background-color: #007bff;
}
div.underline-title div.underline.underline-secondary {
    background-color: #5a6268;
}
div.underline-title div.underline.underline-success {
    background-color: #28a745;
}
div.underline-title div.underline.underline-danger {
    background-color: #dc3545;
}
div.underline-title div.underline.underline-warning {
    background-color: #ffc107;
}
div.underline-title div.underline.underline-info {
    background-color: #17a2b8;
}
div.underline-title div.underline.underline-light {
    background-color: #f8f9fa;
}
div.underline-title div.underline.underline-dark {
    background-color: #343a40;
}
/* HTML elements : */
/*
<div className='underline-title'>
    <h2></h2>
    <div className='underline underline-warning'></div>
</div>
*/

/* ============================= */
/* ======== Loading Icon ======= */
/* ============================= */

/* === circle-loading === */
.circle-loading {
    margin: 2.5rem 0;
    text-align: center;
}
.circle-loading .circle-loading-icon {
    margin: 0 auto;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border: 8px solid var(--secondary-400);
    border-bottom-color: var(--secondary-600);
    text-align: center;
    animation: spin 0.8s linear infinite;
}
/*
<div className="circle-loading">
    <div className="circle-loading-icon"></div>
</div> 
*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(72deg);
    }
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(216deg);
    }
    80% {
        transform: rotate(288deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* === dotted === */
.dotted-loading {
    justify-items: center;
}
.dotted-loading > section {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.dotted-loading > section div {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.dotted-loading > section .dot-1 {
    background-color: #eaeaea;
    animation: changeColor_dot1 1s linear infinite;
}
.dotted-loading > section .dot-2 {
    background-color: #b9b9b9;
    animation: changeColor_dot2 1s linear infinite;
}
.dotted-loading > section .dot-3 {
    background-color: #7c7c7c;
    animation: changeColor_dot3 1s linear infinite;
}
.dotted-loading > section .dot-4 {
    background-color: #0d0d0d;
    animation: changeColor_dot4 1s linear infinite;
}
@keyframes changeColor_dot1 {
    0% {
        background-color: #eaeaea;
    }
    25% {
        transform: scale(1.75);
    }
    33.33% {
        background-color: #b9b9b9;
    }
    66.66% {
        background-color: #7c7c7c;
    }
    100% {
        background-color: #0d0d0d;
    }
}
@keyframes changeColor_dot2 {
    0% {
        background-color: #b9b9b9;
    }
    33.33% {
        background-color: #7c7c7c;
    }
    50% {
        transform: scale(1.75);
    }
    66.66% {
        background-color: #0d0d0d;
    }
    100% {
        background-color: #eaeaea;
    }
}
@keyframes changeColor_dot3 {
    0% {
        background-color: #7c7c7c;
    }
    33.33% {
        background-color: #0d0d0d;
    }
    66.66% {
        background-color: #eaeaea;
    }
    75% {
        transform: scale(1.75);
    }
    100% {
        background-color: #b9b9b9;
    }
}
@keyframes changeColor_dot4 {
    0% {
        background-color: #0d0d0d;
    }
    33.33% {
        background-color: #eaeaea;
    }
    66.66% {
        background-color: #b9b9b9;
    }
    100% {
        transform: scale(1.75);
        background-color: #7c7c7c;
    }
}
/*
<div className="dotted-loading">
    <section>
        <div className="dot-1"></div>
        <div className="dot-2"></div>
        <div className="dot-3"></div>
        <div className="dot-4"></div>
    </section>
</div>
*/

/* ====================== */
/* ======== Form ======== */
/* ====================== */

form .form-row {
    margin-bottom: 2rem;
}
form .form-row label {
    text-transform: capitalize;
}
form .form-row div {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0;
}
form .form-row div input {
    background-color: var(--secondary-100);
    padding: 0.4rem 1rem;
    border: 2px solid var(--secondary-200);
    height: 1rem;
    /* font-family: ""; */
}
form .form-row div input:focus {
    outline: none;
    border: 2px solid var(--primary-400);
}
form .form-row div button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* HTML Elements */
/*
<form>
    <section className="form-row">
        <label htmlFor=""></label>
        <div>
            <input type="text" id="" />
            <button
                className="btn btn-primary"
                type="submit"
            >
                submit
            </button>
        </div>
    </section>
</form>
*/

/* ======================== */
/* ====== Grid System ===== */
/* ======================== */

.section-center {
    max-width: 1340px;
    width: 92.5%;
    margin: 0 auto;
}

.column {
    max-width: 1340px;
    margin: 0 auto;
    display: grid;
    gap: 1.25rem;
}

/* === column-6 === */

.column.column-6 {
    grid-template-columns: repeat(6, 1fr);
}
@media screen and (max-width: 1400px) {
    .column.column-6 {
        max-width: 1200px;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 1240px) {
    .column.column-6 {
        max-width: 992px;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .column.column-6 {
        max-width: 768px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 840px) {
    .column.column-6 {
        max-width: 567px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 640px) {
    .column.column-6 {
        max-width: 480px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 567px) {
    .section-center.column.column-6 {
        width: 92.5%;
    }
    .section-center .column.column-6 {
        width: 100%;
    }
    .column.column-6 {
        width: 92.5%;
    }
}

/* === column-5 === */

.column.column-5 {
    grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 1400px) {
    .column.column-5 {
        max-width: 1200px;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1240px) {
    .column.column-5 {
        max-width: 992px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .column.column-5 {
        max-width: 768px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 840px) {
    .column.column-5 {
        max-width: 567px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 640px) {
    .column.column-5 {
        max-width: 480px;
    }
}
@media screen and (max-width: 567px) {
    .section-center.column.column-5 {
        width: 92.5%;
    }
    .section-center .column.column-5 {
        width: 100%;
    }
    .column.column-5 {
        width: 92.5%;
    }
}

/* === column-4 === */

.column.column-4 {
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1400px) {
    .column.column-4 {
        max-width: 1200px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1240px) {
    .column.column-4 {
        max-width: 992px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .column.column-4 {
        max-width: 567px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 640px) {
    .column.column-4 {
        max-width: 480px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 567px) {
    .section-center.column.column-4 {
        width: 92.5%;
    }
    .section-center .column.column-4 {
        width: 100%;
    }
    .column.column-4 {
        width: 92.5%;
    }
}

/* === column-3 === */

.column.column-3 {
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1400px) {
    .column.column-3 {
        max-width: 1200px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1240px) {
    .column.column-3 {
        max-width: 567px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 640px) {
    .column.column-3 {
        max-width: 480px;
    }
}
@media screen and (max-width: 567px) {
    .section-center.column.column-3 {
        width: 92.5%;
    }
    .section-center .column.column-3 {
        width: 100%;
    }
    .column.column-3 {
        width: 92.5%;
    }
}

/* === column-2 === */

.column.column-2 {
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1400px) {
    .column.column-2 {
        max-width: 567px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 640px) {
    .column.column-2 {
        max-width: 480px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 567px) {
    .section-center.column.column-2 {
        width: 92.5%;
    }
    .section-center .column.column-2 {
        width: 100%;
    }
    .column.column-2 {
        width: 92.5%;
    }
}

/* === column-1 === */

.column.column-1 {
    grid-template-columns: 1fr;
}
@media screen and (max-width: 1400px) {
    .column.column-1 {
        max-width: 992px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1240px) {
    .column.column-1 {
        max-width: 840px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1024px) {
    .column.column-1 {
        max-width: 640px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    .column.column-1 {
        max-width: 567px;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 640px) {
    .section-center.column.column-1 {
        width: 92.5%;
    }
    .section-center .column.column-1 {
        width: 100%;
    }
    .column.column-1 {
        width: 92.5%;
    }
}


